[2015-12-29 18:17] marsav opened #1 "Contact information / emails"
# UFAL: Contact information

lr.help.mail = dspace-help@clarin.***
lr.help.phone = +420-22191-4366
mail.from.address = dspace-noreply@clarin.***
mail.feedback.recipient = dspace-help@clarin.***
info.recipient = lindat-technical@clarin.***
mail.registration.notify = ${mail.admin}
# General site administration (Webmaster) e-mail

mail.admin = ${mail.feedback.recipient}

[2015-12-29 18:34] marsav opened #2 "Configure backup"

[2015-12-29 18:35] marsav commented on #2
via $DSPACE_WORKSPACE/sources/local.properties

[2016-01-03 18:11] tkrilavicius commented on #1
kažkur prie aukštesnio lygio adminų ar pan, reiktų
a.utka@hmf.vdu.**
+370 688 *****

[2016-01-04 09:29] marsav commented on #1
Logiškiausia būtų kad Clarin turėtų savo e-mail adresus, ir jie būtų kur reikia forwardinami.
Pvz į a.utka@ galėtume nukreipti ${mail.admin} (konkrečiau kokį nors dspace-admin@clarin.vdu.lt)

Klausimas yra, ar galime kurti tokius emailus/po tokiu domenu, kaip kad nurodžiau aukščiau?

[2016-01-04 09:45] marsav opened #3 "Initial XMLUI webapp deploy/access"

[2016-01-04 09:50] marsav opened #4 "Epic: Clarin-LT Branding"
Žr. http://clarin.vdu.lt:8080/xmlui/

Ten dabar yra defaultinė tema, kurią naudoja ir čekai.
Ką darom su brendingu, ką/kaip keisti, iš kur imti pavadinimus ir kontaktinius duomenis?

Susiję: https://github.com/ufal/lindat-dspace/wiki/Installation -> Branding
(nesenai perkelta į https://github.com/ufal/lindat-dspace/wiki/lindat-common, https://github.com/ufal/lindat-dspace/wiki/Overlays)

[2016-01-04 09:53] marsav opened #5 "Inicialization: needs Identity Provider-registered user"
Kaip inicializacijos žingsnis, reikalingas administratoriaus e-mail adresas, kuris būtų registruotas su Identity Provider ir su kuriuo galėtume prisijungti per AAI/shibboleth:

Ar jau turime tokį?

[2016-01-04 09:58] marsav opened #6 "PIWIK integration"
See also: https://ufalgate.ms.mff.cuni.cz:8443/f/9bcb1c10b9/ (page 32)

[2016-01-04 10:01] marsav opened #7 "Epic: AAI/Shibboleth"
Sukuriu šitą issue kaip placeholderį tam kad galėtume sekti AAI/prisijungimo prie federacijoje procesą.

[2016-01-04 10:02] marsav commented on #7
Tomai, gal galėtum pakomentuoti koks dabar statusas/progresas dėl 'joining federation(s)'?

[2016-01-04 10:07] marsav opened #8 "Apache"
Apache visgi bus reikalingas, kad ir vien dėl shibboleth. Žr:
http://svn.ms.mff.cuni.cz/redmine/projects/dspace-modifications/wiki/CompilationInstallationShibboleth

[2016-01-04 10:35] marsav opened #9 "IllegalStateException: Error, no admin group (group 1) found"
While trying to create an admin user. It's a known bug, a PR exists at DSpace (pull/1132)

[2016-01-04 11:18] marsav commented on #9
Fixed using a workaround from https://groups.google.com/forum/#!topic/dspace-tech/9RESJYABb_k

[2016-01-04 11:18] #9 closed

[2016-01-04 11:57] tkrilavicius commented on #7
Kol kas VDU nėra Edugain LT narys, ir planai nėra iki galo aiškūs. Kiek žinau, kitos vartotojų federacijos LT nėra

[2016-01-04 14:39] marsav opened #10 "Submission workflow/steps weeding"
Tomai, gal gali prisijungti su savo useriu ir praeiti tipinį submission procesą, ir surašyti man čia, jei reikia kokius žingsnius workflow'e išmesti ar pataisyti, ar jei susiduri su kokia problema.

[2016-01-04 14:42] marsav opened #11 "i18n + l10n / Internationalisation + localisation"
Šis placeholderis visiems su i18n susijusiems issues.

Reikalinga internacionalizuoti:
- XMLUI (https://wiki.duraspace.org/display/DSDOC5x/XMLUI+Configuration+and+Customization#XMLUIConfigurationandCustomization-MultilingualSupport)
- Discovery (žr. https://wiki.duraspace.org/display/DSDOC5x/Discovery#Discovery-Internationalization)
- l10n https://wiki.duraspace.org/display/DSDOC5x/Localization+L1

[2016-01-04 15:23] marsav opened #12 "XMLUI i18n - sync resources"
Reikia susinchronizuoti messages resursą (https://github.com/marsav/lindat-dspace/blob/clarin-lt/dspace-xmlui/src/main/webapp/i18n/messages_lt.xml) su prikabintu failu (iš kito projekto), t.y. perkelti atitinkamus lietuviškus vertimus.

Message identifikatoriai gali skirtis, reikia užtikrinti, kad perkeliant vertimus, išliktų mūsiškio failo message identifikatoriai.
- [xmlui_messages_lt.xml.zip](h

[2016-01-04 15:27] marsav opened #13 "Discovery i18n - sync resources"
Suintegruoti Discovery messages.xml (https://github.com/marsav/lindat-dspace/blob/clarin-lt/dspace-xmlui/src/main/resources/aspects/Discovery/i18n/messages_lt.xml) su prikabintu (iš kito projekto).
- [discovery_messages_lt.xml.zip](https://github.com/marsav/lindat-dspace/files/77334/discovery_messages_lt.xml.zip)

i18n placeholder: #11

[2016-01-04 15:40] marsav opened #14 "Epic: Handle Server"
Iš čekų laiško:

[2016-01-04 15:42] marsav commented on #14
@tkrilavicius gal gali pakomentuoti koks šiuo metu statusas su FEDI, tas aukščiau minėtas procesas inicijuotas?

[2016-01-04 22:11] tkrilavicius commented on #5
Kadangi kol kas identity provider klausimas neatsakytas - turi trečiadienį daugiau paaiškėti, tai turbūt kažkokį local reiktų naudoti. O kaip dabar padarei?

[2016-01-04 22:11] tkrilavicius commented on #10
O koks mano useris?

[2016-01-04 23:50] marsav commented on #5
Kol kas nieko specialiai nedariau, pagal nutylėjimą turėtų apsimesti kad sugeneravo kažkokį handle, kuris žinoma, nebus tikras iki nebus tikro handle serverio.

[2016-01-04 23:53] marsav opened #15 "Setup mail server"

[2016-01-04 23:55] marsav commented on #15
Be kita ko, kol kas šis stabdo ir userių detalių siuntimą, pvz. #10

[2016-01-05 08:46] marsav commented on #15
@tkrilavicius Mes taip pat naudosime mailing lists. Jei nėra kokių nors apribojimų, naudosiu Google Groups.

[2016-01-05 09:22] IevaBumbuliene commented on #12
Noriu pasitikslinti. Eilutes su vienodais "key" tiesiog pakeisti į Github'e esantį failą, o likusius angliškus pačiai išversti?

[2016-01-05 09:29] marsav commented on #12
Taip, teisingai. Reikia kad liktų eilutės su visais originaliais "key", buvusiais originaliame faile, tik būtų išverstos. Tas prikabintas failas tiesiog turėtų palengvinti darbą, kad nereiktų visko rankomis versti. Be to, jis demonstruoja vertimo stilių.

[2016-01-05 09:32] marsav commented on #12
@IevaBumbuliene kad būtų paprasčiau patikrinti rezultatą, siūlau padalinti šį darbą į dvi dalis:
1) pirmiausia sulieti jau esamus vertimus, tada commit'inti atnaujintą failą
2) aš patikrinsiu, ir tada galima bus antru žingsniu išversti likusias eilutes, tada vėl commit'inti failą

[2016-01-05 09:33] marsav commented on #13
Tas pats kaip ir #12:

@IevaBumbuliene kad man būtų paprasčiau patikrinti rezultatą, siūlau padalinti šį darbą į dvi dalis:
1) pirmiausia sulieti jau esamus vertimus, tada commit'inti atnaujintą failą (arba persiųsti man)
2) aš patikrinsiu, ir tada galima bus antru žingsniu išversti likusias eilutes, tada vėl commit'inti failą arba siųsti man

[2016-01-05 12:07] ievbu commented on #12
Įkėliau failą. Laukiu komentarų ar viskas gerai ir po to darysiu toliau.

[2016-01-05 13:58] marsav commented on #12
@IevaBumbuliene sujungta gerai, netikslumus ir klaidas galėsime taisyti vėliau, kol kas gerai būtų išversti likusius angliškus tekstus. Vertimų turinio klausimams ir patikslinimams sukursiu atskirą issue. Commit komentaruose pridėk susijusio issue numerį (šio failo atveju tai #13).

[2016-01-05 14:00] marsav opened #16 "i18n - lietuvių k. vertimas, terminai ir patikslinimai"
LII vertimuose naudojome šiek tiek pakeistą terminologiją, pvz:
- Communities -> Kolekcijos
- Collections -> Rinkiniai
- Sub-collections -> Žemesnio lygio rinkiniai.

Šiuos ir kt. neaiškius arba neteisingus terminus dėkime čia.

Susiję: #11 #12 #13

[2016-01-05 14:02] marsav commented on #16
@tkrilavicius ar palikti Kolekcijos/Rinkiniai/Žemesnio lygio rinkiniai ar keisti?

[2016-01-05 14:05] marsav commented on #15
Andrius tuom tarp tvarko kitą problemą:

[2016-01-05 15:03] ievbu commented on #16
Kaip versti "issue" šiame kontekste?
"Browsing by" versti naršyti/ieškoti/filtruoti/paieška/filtravimas pagal?

[2016-01-05 15:11] Dalykas commented on #16
Browsing by - filtravimas pagal (artimiausia prasme)

[2016-01-05 15:47] marsav commented on #16
@IevaBumbuliene issue - problema, užduotis (github kontekste), browsing by - "filtravimas pagal", arba "filtruojama pagal", kontekstas kartais matosi iš kitų gretimų tekstų

[2016-01-05 15:50] marsav commented on #16
Beje, čia galima pasižiūrėti kaip į kitas kalbas verčiama, o gal ateity ir lietuvišką padėti:
https://github.com/DSpace/dspace-xmlui-lang/tree/master/src/main/webapp/i18n

[2016-01-05 19:36] tkrilavicius commented on #14
VDU keitėsi IT vadai, tai dar net nerado, su kuo aiškintis. Žiūrėsim, kas bus

[2016-01-05 20:16] marsav commented on #3
Initial barebones setup done
http://clarin.vdu.lt:8080/xmlui/

[2016-01-05 20:16] #3 closed, assigned to marsav

[2016-01-06 13:49] marsav commented on #15
Andrius:

[2016-01-06 13:49] #15 closed, assigned to tkrilavicius

[2016-01-06 15:26] marsav opened #17 "Mail: Relay access denied"
[code]

[2016-01-07 13:48] ievbu commented on #16
Iškilę klausimai/pastebėjimai dėl vertimų 1-1000 eilutėse #12 :
- conjunction - konjunkcija ar sąjunga
- contributor - bendraautorius
- advisor - patarėjas
- Medium Type - laikmenos tipas
- PID, URL, URI - palikau be lietuviško paaiškinimo
- dc.description.provenance - tiesiog taip palikti?
- export archive - išeksportuoti archyvą (nežinau ar taip galima vartoti)
- token
- Deposit - Įkelti į saugy

[2016-01-07 14:13] tkrilavicius commented on #16
- conjunction - sąjunga
- contributor - autorius
- advisor - patarėjas
- Medium Type - laikmenos tipas
- PID, URL, URI - palikau be lietuviško paaiškinimo - OK
- dc.description.provenance - tiesiog taip palikti?
- export archive - išeksportuoti archyvą
- token - leksema
- Deposit - Įkelti į saugyklą
- MyDSpace Home - ManoDSpace pagrindinis puslapis
- Handle removed - valdiklis (handle) pašalintas

[2016-01-07 14:15] tkrilavicius commented on #1
tada reiktų atitinkamų email adresų

lr.help.mail = dspace-help@clarin.***
lr.help.phone = +370 688 71853
mail.from.address = dspace-noreply@clarin.***
mail.feedback.recipient = dspace-help@clarin.***
info.recipient = repository-technical@clarin.***
mail.alert.recipient = ${mail.admin}
mail.registration.notify = ${mail.admin}

[2016-01-07 14:33] Minotauras commented on #16
Conjunction - sąjunga? Čia meniu punktas? O į kokią funkciją kreipia? Tas terminas labaiiiii klampus ir priklauso nuo konteksto

Contributor -  bet geriau būtų "teikėjas", nes įkelti gali ir ne autorius
advisor - OK
MediumType- OK
PID ir t.t. palikime akronimus
dc.... palikt be vertimo negalime :((( O kaip pilnai tas dalykas skamba ir kam skirtas
export... -OK
token - manau, kad "leksema" blogai.

[2016-01-07 14:36] Minotauras commented on #1
Čia Andrius turi nuspręsti, koks admino adresas (t.y. kas bus adminas).

[2016-01-07 14:39] tkrilavicius commented on #1
andrius tik turės pasakyti, kam forwardus sudėti, o patys adresai tokie tegu ir būna

o sukūrimui reikia davidsono, bet jis gal dar neužsiregistravo

[2016-01-07 14:40] tkrilavicius commented on #5
Šiuo metu nėra, ką daryti, aiškinamės su VDU ir pan.

[2016-01-07 14:44] Minotauras commented on #5
VDU dar nėra provideris, ir dar kurį laiką nebus. Prašiau AndriausU, kad subendrautų su FEDI ir bent jau KTU ir VU paimtume, kurie yra ID provaideriai ir FEDI nariai. Iki antradienio turi paaiškėti.

[2016-01-07 14:45] tkrilavicius commented on #16
Ok
- contributor - teikėjas
- dc.description. provenance - kilmė (A statement of any changes in the ownership and custody of the resource that are significant for its authenticity, integrity or interpretation.)
- token - dar gali būti "ženklas" arba "žymė"

[2016-01-07 14:47] Minotauras commented on #7
VDU nėra LITNET FEDI narys. Bet yra VU ir KTU (mūsų konsorciumo partneriai). Dabar spaudžiu, kad VDU susitvarkytų, bet tai gali užtrukti. Teks imti FEDi be VDU. O VDU žmonės laikinai turės jungtis su Clarin centrinės būstinės suteikiamais slaptažodžiais.

[2016-01-07 14:50] Minotauras commented on #16
Tomai, "žymė" "žymelė" ir mes jau anotacijų sferoje.
Dadurkevičius labai rekomenduoja geriau imti neutralų "žodis". Ir mums tai gerai. Corpus dydis 100 tokenų arba 100 žodžių. O paskui tegu atsirinkinėja, kas nori:)))

[2016-01-07 15:15] marsav commented on #5
Berods supainiojau temas, mano aukštesnis komentaras lietė handle serverį, o ne DSpace administrator/Identity Provider.

Šiuo metu turiu galimybę (ir ja naudojuosi testavimui) sukurti administratorių su bet kokiu el. paštu, kuris jungtųsi per local login (apeinant AAi). Tad kol kas šitą užduotį perkeliu į Backlog (užduočių archyvą).

[2016-01-08 09:04] ievbu commented on #16
"Conjunction" terminas naudojamas vienoje vietoje ir pati tiksliai nesuprantu, ką juo norima pasakyti, nes jis vienintelis žodis tame pranešime/žinutėje ir kol kas nei vienas lietuviškas atitikmuo nelabai tinka:
- <message key="xmlui.ArtifactBrowser.AdvancedSearch.conjunction">Conjunction</message>

O "dc.description. provenance" kontekstas toks:
- <message key="xmlui.administrative.item.ConfirmIt

[2016-01-08 09:30] marsav commented on #16
Užmečiau akį į kitų kalbų resursus DSpace kode, ten Conjunction verčiamas kaip: "Правило", "Соединение", arba "Conjunct*" variacijos. Kadangi kontekstas yra paieška, ir nėra kitų panašių terminų (kaip antai Disjunction ir pan.), esu tikras kad čia turima omeny paieškos terminų loginė sąsaja (pvz. OR AND NOT). Kiek žiūrėjau Advanced search interfeisą, net neradau kur ten šis terminas rodomas. Manau

[2016-01-08 09:39] uandrius commented on #5
Čia geras klausimas ką darome su tuo handle serveriu? Kaip suprantu, tai galima padaryti per "handle.net"? Ar kokį sprendimą mes pasirenkame?
get prefix
○ http://handle.net/service_agreement.html
○ approx. costs: $50 (first time) + $50 (annually)

[2016-01-08 09:46] uandrius commented on #1
Gal reiktų išsiimti dėžutę FC sistemoje, kurią matyčiau Aš, Tomas, Darius ir administratoriai, kuriuos paskirsime? Pvz.: clarin-lt@fc.vdu.lt Ten ir forwardintume visus messagus?

[2016-01-08 09:58] marsav commented on #16
Radau kode patvirtinimą mano spėjimui:

[code]

[2016-01-08 10:09] marsav commented on #5
Ši tema telieka Identity Provider klausimui.
Handle server klausimas aptariamas atskiroje temoje: https://github.com/marsav/lindat-dspace/issues/14
Ten perkeliu ir Andriaus komentarą.

[2016-01-08 10:09] marsav commented on #14
@uandrius commented:

[2016-01-08 10:55] uandrius commented on #16
Dar pratęsiu peržvelgęs ankstesnius vertimus:
"token" - žodžio forma arba "tekstinis elementas" (kuris apimtų ne tik žodžius bet ir simbolius);
"Communities" - kodėl verčiate į "Kolekcijos", labai mašysis su "Collections" (Rinkiniai). Communities - :"bendruomenės" arba "grupės".
"issue" - problema
"Deposit" - gal geriau vartoti "Įkėlimas"

[2016-01-08 14:18] marsav commented on #10
Userį sukūriau, prisijungimus atsiunčiau per skype.

[2016-01-08 20:08] tkrilavicius commented on #1
ar tikrai reikia fc?
bus visos tinkamos dėžutės clarin.vdu.lt, ir email iš mūsų kažkam forwardinsis? fc nebent aktualu, kad atsakinėjant kas nors neužmirštų likusiųjų pridėti

[2016-01-08 20:17] uandrius commented on #1
OK, tik pagalvojau, kad taip būtų lengviau prijunti VDU dirbančius žmones, bet kita vertus juos nesunku prijungti ir iš clarin dėžutės. Tai galim ir nedaryti papildomo adreso.

[2016-01-08 20:18] Minotauras commented on #1
Kazkokių dėžučių tikrai reikia, kur kreipti šiuos, help desk ir t.t. laiškus. Pritariu Tomui, kad FC reikėtų vengti, nes manau, kad tai merdintis reikalas, kurį gal pagaliau pavyks numarinti. bet šiai dienai kito korporacinio pašto neturime. Andriau, reikia Ritos paprašyti mums uždaros FC koferencijos ir pašto dėžučių. Kai kreipiasi projekto vadovas, daro be problemų. Užtenka parašyti per FC Ritai

[2016-01-09 10:49] marsav commented on #1
Tik pridėsiu savo trigrašį, kad visi tie aukščiau minėti Clarin-Dspace adresai gali būti (arba gali nukreipti į) mailing lists/grupes, kurių administravimui nebereiktų sysadmin pagalbos - tai reiškia, kad tose grupėse galėtų bet kas iš jūsų, bet kada prireikus pridėti arba išimti reikiamus el. adresus, naudojantis mailing list administravimo įrankiais.

Taip yra pasidarę ir čekai, ir daugelyje did

[2016-01-09 14:10] Minotauras commented on #1
Ačiū, Martynai. Tada FC neišvengiamas. Arba Google grupsai. Google grupsas būtų administruojamas be jokių, net ir FC, adminų.

[2016-01-11 08:46] adavidsonas commented on #17
Prideti reverse DNS įrašai. Būtų gerai jei galėčiau pats tą klaidą atgaminti (kaip siunčiama? kokios komandos naudojamos?), nes kiek pats siunčiu ar iš serverio, ar į serverį laiškus, juos tvarkingai gaunu. Gal problema su pačio serviso konfigūracija ar netaisyklingu siuntimu?

[2016-01-11 09:13] adavidsonas commented on #1
Laiškus galima forwardinti vienam ar iškart keliems žmonėms. Reikia tik kad parašytumėte mail listo pavadinimą (\* eta clarin) ir kokiais adresais persiųsti. Tik nerašykite į šitą githubą, nes tie adresai greit pataps spam-iniai. Atsiųskit man paštu, geriau ne į FC, nes jo nenaudoju. Susitarti su FC adminais galiu, bet manau kiekvienas naudojame savo kažkokią pašto sistemą ir bandymas priversti da

[2016-01-11 11:06] marsav commented on #17
Kol kas tai nepadėjo. Problemą galima atkartoti taip:

[code]

Dspace mail serviso settings nusistato čia:

[code]

Aukščiau minėta test-email komanda siunčia emailą adresu nurodytu konfige mail.admin. Jei ten nurodyti vidinį adresą, praeina be problemų.
Papidlomi DSpace settingai:

[code]

JavaMail settings, pastarieji čia greičiausiai ir esminiai, nusirodo (šiuo metu užkomentavau visus):

[code]

[2016-01-11 11:34] marsav commented on #17
O čia JavaMail property list: https://javamail.java.net/nonav/docs/api/com/sun/mail/smtp/package-summary.html

[2016-01-11 15:00] ievbu commented on #16
Dar klausimų:
- metaduomenys ar meta-duomenys
- bitstream - kartais norisi versti kaip parsisiuntimas, kartais taip netinka ir neaišku, ar versti "duomenų srautas" ar kitaip. Pavyzdžiai: <message key="xmlui.administrative.FlowItemUtils.bitstream_added">The new bitstream was successfully uploaded.</message> <message key="xmlui.administrative.registries.EditBitstreamFormat.head2">Bitstream format: {

[2016-01-11 15:25] marsav commented on #16
- bitstream - iš esmės tai failai, t.y vertimas būtų "byla"
- bundle - resursas
- curation framework - turinio rūšiavimo/kuravimo sistema
- harvesting - galima palikti neverstą, čia iš esmės DSpace administratoriaus sritis. Blogiausiu atveju gal "surinkimas"

[2016-01-11 16:36] tkrilavicius commented on #16
- curration framework - kuravimo sistema

[2016-01-11 17:05] Minotauras commented on #16
Įterpsiu savo dvylekį :)
Šiaip reikėtų orientuotis į legalius terminus http://ims.mii.lt/ALKŽ/ , bet ten ne visi terminai yra
1) bitstream yra a simple contiguous sequence of binary digits transmitted continuously over a communications path; a sequence of data in binary form. Tada geriausia būtų siūlytas "duomenų srautas". Nesigilinant į duomenų prigimtį.
2) harvesting. The concept of data harvest

[2016-01-11 18:41] Minotauras commented on #16
Tokenizuotojo paskirtis skaidyti į segmentus (paragrafus, sakinius, žodžius ir t.t.). Todėl jis vadinamas segmentatoriumi. Todėl, kad būtų trumpiau, tokenas manyčiau turėtų būti paprasčiausiai "segmentas".

[2016-01-11 20:18] marsav commented on #17
Fixed

[2016-01-11 20:18] #17 closed, assigned to adavidsonas

[2016-01-13 11:12] ievbu commented on #16
Paskutiniai klausimai, susiję su #12 užduotimi:
- ar keisti visur "kuruoti" į "prižiūrėti"?
- ar koduotas lietuviškas raides (pvz., "&#279;", atitikmuo "&#279;") palikti ir naršyklė pati supras kaip vaizduoti ar dėl visa ko pakeist?
- Thumbnail - miniatiūra ar ikona
- Cocoon
- step pool

[2016-01-13 11:28] Minotauras commented on #16
reikia keisti į "prižiūrėti" tai VLKK rekomendacija. Mūsų projektas yra po VLKK padidinamu stiklu.
tas pat liečia dėl liet raidžių, nebent iš techninio taško kitaip neišeina. Bet reikia rimto paaiškinimo, kodėl
Thumbnail. na, pažiūrėkite į oficialų žodyną (linkas jau siųstas). ten thumbnail - miniatiūra
Sutarkime, klausiate tik dėl terminų, kurių ten nėra.
Cocoon - o ką tai daro? Čia iš vikšrelių

[2016-01-13 12:12] ievbu commented on #16
- Cocoon. Nežinau ar tai čia naudojamo karkaso pavadinimas (tada versti nereikia), ar yra kažkoks specifinis terminas, todėl norėjau pasitikslinti. Kol kas palikau neverstą;
- Step pool. Tai darbo eigos žingsniai. Žinutės yra tokio tipo: 1) "Patvirtinti/Atmesti Step Pool", o po jos kita 2) "Patvirtinti/Atmesti Step" (čia "step" vertimas būtų "žingsnį"). Klausimą iškėliau todėl, kad žodyne siūlomas

[2016-01-13 13:08] Minotauras commented on #16
Sutinku su Ieva, kad Cocoon greičiausiai yra pavadinimas todėl reikėtų neversti. Radau tokį aprašyma "This is version of the cocoon servlet service with patched as per the following..."

Bijau, kad step-pool pažodžiui išversti nepavyks. Analogas būtų - kalnų upės sraute (stream) step yra slenkstis, o step-pool po slenksčio esantis ramaus vandes upės kanalo atkarpa iki kito slenksčio. Pool gali būt

[2016-01-13 13:23] ievbu commented on #16
Pagal žinučių identifikatorių pavadinimus atrodo, kad tai dar susiję su darbo eigos statistikos atvaizdavimu. Į Jūsų klausimą tiksliai atsakyti negaliu, iš žinučių nelabai aišku, ką tai konkrečiai liečia. Tam, kad aiškiau būtų įkeliu kelias failų eilutes:
- <message key="xmlui.statistics.display.table.workflow.step.STEP2POOL">Accept/Reject/Edit Metadata Step Pool</message>;
- <message key="xmlui.s

[2016-01-13 14:06] Minotauras commented on #16
Ieva, keliu rankas :( Pasiduodu. Tomai, gal tu pasiūlysi kaip pavadinti tą dalyką pagal tai, ką jis daro?

[2016-01-13 15:21] marsav commented on #16
Dėl visų aukščiau komentarų palaikau.

Kas liečia workflow.step, jie jei ir bus naudojami, tai labai retu atveju, tik statistikoje (http://acikerisim.khas.edu.tr:8080/xmlui/workflow-statistics).
Šiek tiek techninio konteksto su mano siūlomais vertimais (pažymėtais _italic_):
**Workflow** yra įkėlimo (submission) užpildymo/patvirtinimo _žingsnių_ (**Step**) _seka_ (kartais techninėje kalboje priimt

[2016-01-13 17:03] tkrilavicius commented on #16
man rodos, kad šiek tiek per daug dėmesio skiriama dalykams, kurie nebus naudojami. realiai, visi, kas rimtai naudos, be problemų galės dirbti su angliška sąsaja, o kam lietuviška skirta, nerašysiu. siūlau: mes sudedam, kaip yra, o jie tegu dirba savo darbą ir taiso, teikia rekomendacijas, o tada mes jas įgyvendinsim.

[2016-01-14 15:01] Minotauras commented on #16
Geras Tomo pasiūlymas. Tik pakoreguokime. Kur lengvai išsprendžiama, darome iškart. O tokie reikalai kaip su step-pool gali ir likti. Visada pasiteisinsime lokalizavimo norminimo trūkumais. Bet kur jau viskas aišku ir oficialiai sutvarkyta turime laikytis

[2016-01-14 20:06] uandrius commented on #16
OK

[2016-01-15 09:12] ievbu commented on #16
2 man priskirti failai jau išversti. Dabar nebent reikės juos taisyti jei kils neaiškumų.

[2016-02-04 15:06] marsav opened #18 "SSL sertifikatas"

[2016-02-04 15:06] marsav commented on #18
Sertifikatas gautas

[2016-02-04 15:38] marsav commented on #12
Deployed

[2016-02-04 15:38] #12 closed, assigned to ievbu

[2016-02-04 15:40] marsav commented on #13
Testing / merging with root message resource

[2016-02-04 15:41] marsav opened #19 "Language picker"
i18n placeholder: #11

[2016-02-04 15:42] marsav commented on #4
Related: #19

[2016-02-04 23:03] adavidsonas commented on #18
Serttifikatas įdiegtas į Web serverį. Veikia Tomcat servisuose. Dėl diegimo į kitas programas informuokite.

[2016-02-04 23:04] #18 closed, assigned to adavidsonas

[2016-02-05 07:33] uandrius commented on #1
Atnaujinu diskusijas, kurios niekaip nepasibaigė
Sutinku su Andriumi D.  Tegul būna automatinė pašto sistema  (clarin taškas vdu taškas lt) domene kuriamos pašto dėžutės: dspace-help, dspace-noreply, dspace-technical. Tada pagalvosim kas kiekvienu atveju turės tas žinutes gauti. Telefonas gali būti mano.
- Reiktų kad Andrius D. tą pašto sistemą sukonfigūruotų.
- Ar čia dar yra kokių klausimų?

[2016-02-05 11:41] marsav commented on #1
Perkonfigūravau dspace su nurodytais adresais/telefonais:
dspace-help, dspace-noreply, dspace-technical
+370 688 71853

kol kas visi jie - postfix alias'ai, nukreipiantys į dspace@
ateity galima bus ten nurodyti norimus mailing listus ar email adresus

[2016-02-05 11:41] #1 closed

[2016-02-12 13:09] marsav opened #20 "Google Analytics integration"
Related: #6

[2016-02-12 14:41] marsav commented on #6
Permetu Andriui - reikia pakonfigūruoti Apache2 web instaliacijos paleidimui, ir suinstaliuoti kitus dependencies kaip antai MySQL arba Maria DB.

[2016-02-12 15:03] marsav commented on #4
Dar (tech) info, pagal LINDAT_CLARIN_becoming_a_B_centre.pdf (https://ufalgate.ms.mff.cuni.cz:8443/f/9bcb1c10b9/),  p44.

[2016-02-12 16:13] marsav commented on #20
1) Sukurtas Google Analytics account
2) Sukurtas CLARIN-LT project @ Google Developers Console su aktyvuotu Analytics API
3) Sukurtas GD service account ir susietas su GA useriu
4) atitinkamas p12 key failas patalpintas Lindat-dspace config folderyje (atitinkamai nurodyta local.properties)
5) GA UA code -> local.properties

[2016-02-12 16:13] #20 closed, assigned to marsav

[2016-02-17 06:01] uandrius commented on #4
Martynai, ko konkrečiai čia trūksta?

[2016-02-17 09:57] marsav commented on #6
Andrius suinstaliavo PIWIK, perimu integracijai su Lindat-Dspace

[2016-02-17 10:18] marsav commented on #4
@uandrius @tkrilavicius Jei dabar nueitumėte į https://clarin.vdu.lt/xmlui/ - pažiūrėkite, ar norite, kad būtent taip atrodytų jūsų Clarin projekto puslapis, ir ką reiktų pakeisti, kad jis labiau atspindėtų mūsų lietuviškus poreikius.

Ten šiuo metu yra palikti pagal nutylėjimą, arba "tiesiai iš dėžutės", čekų nustatymai:
1. UFAL "theme" (puslapių dizaino šablonas)
2. Navigacijos struktūra (viršut

[2016-02-17 10:25] marsav opened #21 "PIWIK - Exclude traffic from specific monitoring urls"
Exclude traffic from specific monitoring urls from piwik (see http://piwik.org/faq/how-to/faq_80/) and from dspace by adding the ip address (range) to ingore file (https://github.com/ufal/blob/lindat/dspace/config/spiders/ufal.ignore.txt).

[2016-02-17 10:52] marsav commented on #21
Parent: #6

[2016-02-17 10:56] marsav commented on #6
Integruota per konfigūraciją (local.properties -> lr.cfg).
Atsiradus artefaktams, reiktų patikrinti kaip veikia.

[2016-02-17 10:58] marsav opened #22 "Error parsing HTTP request header"
Feb 17, 2016 12:47:46 PM org.apache.coyote.http11.AbstractHttp11Processor process
INFO: Error parsing HTTP request header
 Note: further occurrences of HTTP header parsing errors will be logged at DEBUG level.
java.lang.IllegalArgumentException: Invalid character (CR or LF) found in method name
    at org.apache.coyote.http11.InternalInputBuffer.parseRequestLine(InternalInputBuffer.java:131)
    a

[2016-02-19 07:20] uandrius commented on #4
1. http://clarin-lt.lt tema yra Wordpresso Responsive. Saugyklos puslapio dizaino tema turi būti vizualiai suderinta su centriniu puslapiu, t.y. Headeris, meniu ir footeris turėtų atsikartoti.
2. Ar nereiktų saugyklos frontą tiesiog integruoti į centrinį puslapį, kad jis paveldėtų clarin-lt  - headerį, meniu ir footerį? Aišku, išskyrus tai, kad repozitoriumas taip pat turi savo meniu:
   Repositor

[2016-02-19 17:20] tkrilavicius commented on #4
1. dėl dizaino, kiek pamenu,buvo derinta, kad vietoj lindat versijos bus sudėti atitinkami logo, visą naują css užmaudinėti ten gana komplikuota
2. manau, kad nereikia jokio integravimo, tik papildomos komplikacijos

[2016-02-20 17:43] uandrius commented on #4
Tada OK. Tik reiktų į footerį patalpinti tą visą info, panašiai padarysime ir centriniame puslapyje.
Gal kažkiek tą čekų css galima pakeisti, pvz., meniu punktus?

[2016-04-18 11:33] marsav opened #23 "Licencijos"
Submission Workflow - kol kas paliekam standartinį (susijęs - #10).
Licencijos turi būti lietuviškos, @uandrius prašau pateikti.

[2016-04-18 11:35] marsav commented on #23
Licenzijų valdymo įrankio aprašymas čia:
https://github.com/ufal/lindat-dspace/wiki/License-administration

Siūlau būtent per jį ir dėti lietuviškas licenzijas, arba prikabinkit čia/atsiųskit man.

[2016-04-18 12:00] marsav commented on #23
Man pačiam šiuo metu instrukcijose pateikta nuoroda (http://clarin.vdu.lt:8080/xmlui/admin/licenses) neveikia, meta "The 'rows' parameter must be grater than zero." Aiškinuosi, bet tuo tarpu lietuviškas licenzijas galima ruošti.

[2016-04-18 21:28] tkrilavicius commented on #4
Ieva, surankiok visus logo - ŠMM, LMT ir Clarin LT, ir perduok Martynui

[2016-04-19 08:05] ievbu commented on #4
Išsiunčiau paštu. Vektorinių neradau, tai parinkau iš esančių geriausios kokybės png/jpg.

[2016-04-22 10:46] marsav opened #24 "Branding - About page"
Reiktų savos versijos About/Apie, pažiūrėkite, gal kažkas tinka iš čekų (kurių versija šiuo metu pas mus ir guli):
https://clarin.vdu.lt/xmlui/page/about

Taip pat reiktų lietuviškos versijos, jei jau dviem kalbom viskas.

Susiję su Branding: #4

[2016-04-22 11:12] marsav opened #25 "Branding - Footer / Repository section"
Susiję: #4, #24
Šiuo metu footer Repository skyriuje (kurį kaip supratau, buvo siūlyta palikti), yra žemiau pateiktos nuorodos. PGal galite peržiūrėti ir patvirtinti, kad tuose puslapiuose nereikia nieko pakeisti, kad atitiktų lietuviškas realijas.

Main page -> bus nukreipta į pagrindinį Clarin-LT Repo
Submission Lifecycle -> http://clarin.vdu.lt:8080/xmlui/page/item-lifecycle?locale-attribute=en

[2016-04-22 11:14] uandrius commented on #24
Supratau, čia reiks padirbėti. Kol kas, kad nebūtų tuščias gali būti "Mission statement", "About Repository" su kitomis dalimis dar reikia padirbti

[2016-04-22 11:23] marsav commented on #4
@uandrius Iškėliau kelis žemesnio lygio punktus į atskiras užduotis (#24, #25). Dėl logų kaip ir aišku, o ką daryt su LINDAT CLARIN logu, palikt ar išmest? Visgi mūsų sistema yra LINDAT pagrindu pakurta.

[2016-04-22 11:24] uandrius commented on #25
Sumbission Lifecycle - gali likti toks pats tik LINDAT -> CLARIN LT ir prefix'as pasikeis pagal mūsų prefix'ą, beje jau jį gavau, tik kaip suprantu kol nebus apmokėta jis neveiks. Apmokėjimas gali užtrukti porą savaičių.
FAQ - tas pats.
About ir policies - jau rašiau, #24.
Contact gali rodyti į  http://clarin-lt.lt/?page_id=91, arba pateikti panašią "Partners" lentelę  su nuorodomis į VDU, VU ir K

[2016-04-22 11:25] uandrius commented on #4
LINDAT CLARIN logą reiktų išmesti, kad nebūtų painiavos

[2016-04-22 11:27] uandrius commented on #23
LIcencijas turiu, bet galvoju kaip čia jas pateikti...

[2016-04-24 21:46] tkrilavicius commented on #4
Bet kažkur reiks palikti, kad based on Lindat

[2016-04-25 12:39] marsav commented on #4
Man biški neaišku kur tas "kažkur". Siūlau šias vietas, patikslinkit kuri geriausia (pagal https://lindat.mff.cuni.cz/repository/xmlui/ pavyzdį):
a) mažas logo viršuje kairėje, prie pirmo lygio meniu
b) didelis linkas "karuselėje" kartu su CLARIN-LT logu
c) mažas monochrominis logas footeryje po SMM ir LMT logais (žr. https://clarin.vdu.lt/xmlui/)
d) tekstinis linkas footeryje tarp partnerių
e) vi

[2016-04-25 12:42] marsav commented on #4
@uandrius commented on Feb 20

Čekų CSS (šiek tiek), ir turinį (pilnai) tikrai galima keisti, bet sutinku su @tkrilavicius jog naujai perdaryt/užmaut naują CSS bus labai komplikuota.

Pažiūrėkite į dabartinį mūsų psl., ar ten viskas gerai, ar dar kažką reikia keisti (pvz. meniu punktus?)

[2016-04-25 12:52] marsav commented on #24
Palikau tik "Mission statement", "About Repository".
Peradresuoju užduotį jums, @uandrius - kai bus pakeitimų, perduokite juos ir šią užduotį atgal man.

[2016-04-25 14:03] marsav commented on #25
Sumbission Lifecycle - pakeista LINDAT -> CLARIN LT
About ir policies - laikinai sutrumpinta kaip nurodyta #24, bei pakeista LINDAT -> CLARIN LT
Contact - nukreiptas į clarin-lt anglišką kontaktų psl. http://clarin-lt.lt/?page_id=93

Pakeitimai:

[code]

[2016-04-25 14:08] marsav opened #26 "Branding - update item-lifecycle page with new prefix"
https://clarin.vdu.lt/xmlui/page/item-lifecycle
Update with new prefix once it's activated.

[2016-04-25 14:09] marsav commented on #25
Uždarau kaip išspręstą, Submission Lifecycle handle pakeitimą iškėliau į #26

[2016-04-25 14:09] #25 closed, assigned to marsav

[2016-04-25 14:10] marsav commented on #26
Depends on: #14

[2016-04-25 14:11] marsav commented on #14
From #25, uandrius wrote:

[2016-04-25 14:15] marsav commented on #10
Nuspręsta kol kas palikti default workflow. Uždarau kaip laikinai baigtą.

[2016-04-25 14:15] #10 closed, assigned to tkrilavicius

[2016-04-25 15:41] tkrilavicius commented on #4
1. Šiai dienai tai dar ne Clarin B ir neturim DSA, tai juos reiktų paslėpti.
2. LINDAT gal dedam šalia sponsors atskirtą tuščia eilute, kokį nors "Powered by LINDAT"
3. "Copyright (c) 2015 UFAL MFF UK. All rights reserved." - šitą reiktų pakeisti kuo nors - Andriau?

[2016-05-05 06:44] marsav commented on #4
atlikta

atlikta

Kol kas pakeičiau į "Copyright (c) 2015-2016 CLARIN-LT. All rights reserved." @uandrius, jei tinka, uždarom šitą užduotį.

[2016-05-05 07:01] marsav opened #27 "Branding - Top Menu (Header)"
Atkartoti Repozitoriumo top menu tokiu pačiu kaip pagridiniame clarin-lt.lt psl., t.y.
News | Services | About CLARIN-LT | Repository | Partners | Contact

Parent: #4

[2016-05-05 07:01] marsav commented on #27
Done

[2016-05-05 07:01] #27 closed, assigned to marsav

[2016-05-05 08:05] marsav commented on #19
done

[2016-05-05 08:05] #19 closed, assigned to marsav

[2016-05-10 21:31] tkrilavicius commented on #14
jau turėtų veikti

[2016-05-10 21:32] tkrilavicius commented on #23
Kur licencijos?

[2016-05-10 21:34] tkrilavicius commented on #5
Identinty provideriai dabar mes būsim patys, jungimosi prie edugain tvarkos persiųstos.

taip pat, mes imsim identities iš clarin, turėtų būti dokumentuota, kaip tai darosi per shibolleth ir/arba edugain

[2016-05-15 07:46] marsav opened #28 "Dspace Handle Server setup (tech)"
Parent: #14

Instructions:
- https://github.com/ufal/lindat-dspace/wiki/Handle-Server
- https://github.com/ufal/lindat-dspace/wiki/Installation----Prerequisites#handles
- https://wiki.duraspace.org/display/DSDOC5x/Installing+DSpace#InstallingDSpace-TheHandleServer
- http://wiki.lib.sun.ac.za/index.php/SUNScholar/Handle_Server

Notes:
1. The Handle protocol is based on TCP, so it will need to be in

[2016-05-15 08:29] marsav commented on #28
http://www.handle.net/prefix_request.html

sitebundl.zip File Upload

For new registrants, the final step in the HANDLE.NET® Software download and registration process is to upload the sitebndl.zip file generated by running the hdl-setup script (following the instructions in the README.txt file included with the software distribution) to the HNR Administrator, who will then create and activate you

[2016-05-15 08:33] uandrius commented on #23
Čia turiu rimtai prisėsti, nes nors licencijas turiu, jos nėra paruoštos paprastam pasirinkimui.
Reikia pagalvoti kaip užpildyti laukus ir kaip tai turėtų veikti ...

[2016-05-15 08:34] marsav commented on #28
sitebundl.zip response:

[...]
You will receive a response from the HNR Administrator within the next 48 hours. Questions should be sent to hdladmin at cnri.reston.va.us

[2016-05-15 08:35] marsav commented on #28
Installation steps 1-3 complete. Current status:
"An [handle.net] administrator will then create the naming authority/prefix on the root service (known as the Global Handle Registry), and notify you when this has been completed. You will not be able to continue the handle server installation until you receive further information concerning your naming authority."

[2016-05-15 08:42] marsav commented on #28
@adavidsonas reikia atidaryti:  TCP on port 2641, HTTP on port 8000

handle faq: https://www.handle.net/faq.html#T28

[2016-05-15 09:23] marsav commented on #7
Related instructions/links:
- https://github.com/ufal/lindat-dspace/wiki/Installation----Prerequisites#aai
- https://github.com/ufal/lindat-dspace/wiki/Shibboleth
- https://github.com/ufal/lindat-dspace/wiki/Shibboleth_install
- https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPLinuxInstall
- https://github.com/ufal/lindat-dspace/wiki/FAQ

[2016-05-15 09:47] marsav opened #29 "Shibboleth installation"
Parent: #7

Reikia instaliuoti Shibboleth.
Informacija/nuorodos:
1. https://github.com/ufal/lindat-dspace/wiki/Shibboleth_install
2. https://github.com/ufal/lindat-dspace/wiki/Building-Shibboleth-with-FastCGI-support
3. https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPLinuxInstall
4. https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPLinuxSRPMBuild

Esminiai dalykai:

"Shibbo

[2016-05-16 06:57] adavidsonas commented on #28
Portai atidaryti.

[2016-05-16 07:11] adavidsonas commented on #29
yum ir rpmbuild debian nepalaiko ir jų diegimas yra pavojingas.
Kuo būtų blogai jei būtų pasinaudota debian backport-ais:
https://uit.stanford.edu/service/shibboleth/sp/debian

Pilnas diegimas:
https://uit.stanford.edu/service/shibboleth/sp
Service provider-iai ne tie, bet greičiausiai galima pasikoreguoti pagal tai ko reikia.

Dar vienas pliusas, kad tai standartinis būdas ir skirtingai nei build

[2016-05-16 14:18] marsav commented on #5
Ši užduotis priklauso nuo #7

[2016-05-17 05:12] marsav commented on #28
Laukiama patikslinimo dėl 'Init scripts' dalies
@tkrilavicius žr. email paklausimą

[2016-05-17 06:09] marsav commented on #29
Andrius D.:

[2016-05-20 09:43] marsav opened #30 "Shibboleth konfigūravimas ir instaliavimas"
Parent: #7
Atliekamas baigus Shibboleth instaliavimą (#29).

FEDI
- Techniniai Litnet Fedi reikalavimai: http://www.fedi.litnet.lt/lt/11-technines-instrukcijos/30-techniniai-litnet-fedi-reikalavimai

SCCTC (from a Feb 24 mail)
- information about setting up and testing an SP (The testing is mentioned in section 3):
  https://www.clarin.eu/content/creating-and-testing-shibboleth-sp
- More informati

[2016-05-20 09:43] marsav commented on #29
[code]

Instaliacija baigta, sekantis žingsnis - konfigūracija (žr. #30)

[2016-05-20 09:43] #29 closed, assigned to marsav

[2016-06-06 07:42] marsav commented on #30
Sėkmingas preliminarus Shibboleth instaliacijos testavimas testshib pagalba.

[2016-08-17 09:57] marsav commented on #23
Aptikau DSpace bugą, kuris neleidžia peržiūrėti/pridėti licenzijų. Ieškau spendimo.

[2016-08-17 15:08] marsav commented on #23
Sutvarkiau licencijų administravimo bug'ą, dabar leidžia licencijas administruoti per čia:
https://clarin.vdu.lt/xmlui/admin/licenses

Toliau mano žingsniai tokie:
1) konvertuoju licencijas į HTML ir keliu į serverį (https://clarin.vdu.lt/licenses)
2) kiekvienai licensijai sukuriu įrašą Lindat-Dspace Licence admin ir priskiriu atitinkamą žymę (RES, PUB, ACA)

Licencijų administravimo įrankis (http

[2016-08-24 14:08] marsav opened #31 "Fix subtitle in the About section"
Fix the subtitle line ("hosted at...") in the About section
https://clarin.vdu.lt/xmlui/page/about

[2016-08-24 14:36] marsav commented on #30
Metadata konfigūravimas Clarin ERIC SPF pagal
https://cdn.rawgit.com/clarin-eric/SPF-tutorial/master/Shib_SP_tutorial.html
Atlikti žingsniai:
- 4.1.2
- 4.1.3
- 4.1.4
- 4.2
- 4.3 - 1..8

Toliau laukiama vartotojo patvirtinimo, metaduomenų pateikimui į Clarin ERIC SPF SVN repozitorijai.

[2016-09-02 08:50] marsav commented on #30
Atlikti tolesni žingsniai:
4.3. - ..9

Metadata iš SVN matyt buvo priimta, nes pagaliau Dspace Login kreipinys priimamas Clarin.eu, tačiau ten sėkminga autentifikacija "nepraeina" atgal. Ieškau problemos ir sprendimo.

[2016-09-02 09:58] marsav commented on #30
`clarin-sp-metadata.xml` atnaujinta (svn commited):

[code]

[2016-09-02 10:23] marsav commented on #4
A.U.:

[2016-09-02 11:27] marsav commented on #4
1. ir 2. sutvarkyta.

[2016-09-02 15:39] marsav commented on #30
SPF konfigūracija sutvarkyta, autentikacija per Clarin.eu pavyko (žr. prikabintą screenshot).

![screen shot 2016-09-02 at 18 37 56](https://cloud.githubusercontent.com/assets/1196273/18209461/8690a53a-713c-11e6-80e2-cc90553b6ac0.png)

[2016-09-02 15:57] marsav commented on #30
@tkrilavicius @uandrius Patikrinkite ir uždarykite GitHub issue jei veikia.

[2016-09-04 19:05] tkrilavicius commented on #30
man meta klaidą

ERROR

An error occurred while processing your request. Please contact your helpdesk or user ID office for assistance.

This service requires cookies. Please ensure that they are enabled and try your going back to your desired resource and trying to login again.

Use of your browser's back button may cause specific errors that can be resolved by going back to your desired resource

[2016-09-05 12:16] marsav commented on #30
@tkrilavicius Ar bandei, kaip nurodyta, įjungt cookies? Arba white-listint clarin.vdu.lt jei naudoji kokį cookies-blocker plugin, kaip pvz. Disconnect.

[2016-09-05 12:18] marsav opened #32 "AAI: Jungimasis prie SPF interfederacijos"
Priklauso: #7
Susiję: #30

From Dieter:

[2016-09-05 12:22] marsav commented on #32
@tkrilavicius @uandrius Palieku jums įvertinti "For Center / Legal implementation" dalį iš:
https://www.clarin.eu/content/participating-spf

[2016-09-05 12:37] marsav commented on #4
3 . Sutvarkyta

[2016-09-06 08:18] marsav commented on #24
A.U:

[2016-09-06 08:24] marsav commented on #24
Pakeitimai atlikti, @uandrius perduodu patikrinimui

[2016-09-06 08:25] marsav commented on #31
fixed

[2016-09-06 08:25] #31 closed, assigned to marsav

[2016-09-06 08:27] marsav commented on #8
Atlikta.

[2016-09-06 08:27] #8 closed, assigned to nobody

[2016-09-06 08:28] marsav commented on #4
4 . dalis sutvarkyta (iškelta atskirame issue #24)

Perduodu peržiūrai @tkrilavicius @uandrius

[2016-09-06 13:47] marsav commented on #28
@adavidsonas Dar dėl portų, kitoj vietoj radau tokį reikalavimą:
http://wiki.lib.sun.ac.za/index.php/SUNScholar/Handle_Server#Step_8_-_Firewall_Ports

Ar gali patvirtint kad tie portai atviri UDP ir TCP?

[2016-09-06 14:08] marsav commented on #28
Handle serveris šiuo metu paleistas iš root. Galima patikrinti:

[code]

suvedant: 20.500.11821/3 ar kitą egzistuojantį handle.

[2016-09-06 14:11] marsav commented on #28
Išriša teisingai: http://hdl.handle.net/20.500.11821/3

[2016-09-06 14:15] marsav commented on #28
Pridėta į /etc/rc.local, restartui.
Handle server setup baigtas.

[2016-09-07 05:37] adavidsonas commented on #28
Dėl portų: visi portai localhost-ui atviri. Taigi servisai tarpusavyje gali bendrauti be apribojimų.
 8000 ir 2641 atviri tik TCP. Ar pridėti ir UDP?

[2016-09-07 05:51] adavidsonas commented on #28
Startup skriptus dėti į /etc/rc.local yra bloga mintis. Taip darydavom prieš 10 metų kai nebuvo normalios init sistemos ir turėdavom eilę visokių problemų. Siūlyčiau rašyti normalų init skriptą ir jei įmanoma pleidinėti ne root teisėmis.

[2016-09-07 08:19] #14 closed, assigned to marsav

[2016-09-07 08:52] marsav commented on #28
Čia padariau kaip rekomendavo dokumentacijoje, bet supratau mintį,
pažiūrėsiu ką galima padaryt.

[2016-09-07 08:54] marsav commented on #28
Dėl portų: čia bus kreipiamasi iš išorės (handle.com). Bet panašu kad TCP
užteko, nors dokumentacijoje mini abu protokolus. Tai paliekam kaip yra,
nes šiuo metu mano testai veikia - jei kils problemų, tvarkysim tada.

[2016-09-07 09:16] adavidsonas commented on #28
Jei el. paštu atsiųsite komandas su kuriomis turėtų būti paleidžiamas, stabdomas, perkraunamas servisas bei nurodysite kokio vartotojo teisėmis, skriptą galiu parašyti ir įkelti (nepažadu šiandien).

[2016-09-16 06:53] marsav opened #33 "Item submissions: No collections found"
(Prisijungus per clarin.eu)

[2016-09-26 12:20] uandrius commented on #33
Martynai, kas su šituo bug'u?

[2016-10-05 07:35] marsav commented on #33
Kaip buvo kalbėta email, tai teisių klausimas. Administratoriai turi priskirti atitinkamoms communities/kolekcijoms Anonymous-WRITE teises per administravimo paskyrą, kaip tai dabar padariau Test community/collection.

[2016-10-05 07:35] #33 closed, assigned to marsav

[2016-11-12 12:19] marsav opened #34 "Submission - can't deposit submission"
Andrius U:

[2016-11-12 12:21] marsav commented on #34
Išsiaiškinau, kodėl neleisdavo submittint - sukūrus Community/Collection, palikau jų default teises, kurios leidžia tik Admin grupės vartotojams pridėti/rašyti. Norint leisti į jas pridėti artefaktus išoriniams vartotojams, teko suteikti teises Anonymous-ADD (ir galbūt reikės pridėti Anonymous-WRITE).

Kitaip tariant, kiekvienąkart, sukūrus naują Community arba Collection, Admin grupės nariai (t.y

[2016-11-12 12:21] #34 closed, assigned to marsav

[2016-11-12 17:53] marsav opened #35 "Error while attempting to create identifier for Item id"
For non-admins, submission last step results in:

[code]

Related: https://github.com/marsav/lii-lindat-dspace/issues/44
More context: https://wiki.duraspace.org/display/DSPACE/AuthorisationSystem

[2016-11-12 17:56] marsav commented on #35
dspace.log's exception:

[code]

[2016-11-16 10:40] marsav commented on #30
Atnaujinti kontaktiniai duomenys

[code]

[2016-11-17 08:52] marsav opened #36 "Fix repository URLs in email templates"
Currently: WWW: https://clarin.vdu.lt:8080/xmlui
Fix to: WWW: https://clarin.vdu.lt/xmlui

[2016-11-17 08:54] marsav commented on #35
Apparently a Chrome hiccup, or some issues with db index.
After A.U. cleaned up old items, I was able to login and submit an item.

[2016-11-17 08:54] #35 closed, assigned to marsav

[2017-02-21 13:45] marsav opened #37 "Tomcat restart cronjob"
Scheduled every weekend (or fortnight)

[2017-10-13 08:12] #30 closed, assigned to tkrilavicius, adavidsonas

[2017-10-13 08:12] #24 closed, assigned to uandrius

[2017-10-13 08:13] #32 closed, assigned to tkrilavicius, uandrius

[2017-10-13 08:14] #28 closed, assigned to marsav